<ion-content>
  <div id="wrapper">
    <h1>Cookie-Einstellungen anpassen</h1>
    <div class="border-bottom">
      <p>
        Wir verwenden Cookies und ähnliche Tools (zusammen „Cookies“) zu den unten beschriebenen Zwecken. Genehmigte
        Dritte verwenden Cookies auch zu begrenzten Zwecken im Zusammenhang mit Werbeanzeigen. Wir wenden Ihre
        Cookie-Einstellungen auf diesen Amazon-Service an (Website- und App-Version), wenn Sie angemeldet sind. Wenn Sie
        nicht angemeldet sind, müssen wir Sie möglicherweise erneut nach Ihren bevorzugten Einstellungen fragen.
      </p>
      <section>
        <ion-button size="small" class="yellow" (click)="acceptAll()">Alle Cookies annehmen</ion-button>
        <ion-button size="small" class="outline" fill="outline" (click)="acceptSettings()">Benutzerdefinierte
          Einstellungen speichern
        </ion-button>
      </section>
    </div>
    <div class="border-bottom">
      <h2>Technisch notwendige Cookies</h2>
      <p>Cookies zur Gewährleistung der Betriebsbereitschaft können nicht deaktiviert werden, soweit wir sie verwenden,
        um unsere Dienste bereitzustellen. </p>
      <app-titled-drop-down title="Mehr Informationen zu betriebstechnischen Cookies. ">
        <p>
          Wir verwenden Cookies für die Bereitstellung unserer Dienste, zum Beispiel, um:
        </p>
        <ul>
          <li>zu erkennen, wenn Sie sich zur Nutzung unserer Dienste anmelden;</li>
          <li>zu erkennen, ob Sie ein Prime-Mitglied sind, und um weitere kundenspezifische Funktionen und Dienste
            anzubieten;
          </li>
          <li>Funktionen, Produkte und Dienste anzubieten, die für Sie von Interesse sein könnten, insbesondere Anzeigen
            für unsere Dienste, sofern es sich um auf Amazon verfügbare Produkte und Dienste handelt;
          </li>
          <li>die Artikel zu speichern, die Sie in Ihren Warenkorb gelegt haben;</li>
          <li>betrügerische Aktivitäten zu verhindern;</li>
          <li>die Sicherheit zu verbessern;</li>
          <li>Ihre Präferenzen, z.B. für Währung und Sprache zu berücksichtigen.</li>
        </ul>

        <p>
          Wir verwenden Cookies auch, um zu verstehen, wie die Kunden unsere Dienste nutzen, damit wir Verbesserungen
          vornehmen können. Wir verwenden Cookies beispielsweise zur Durchführung von Recherchen und Diagnosen, um die
          Inhalte, Produkte und Dienste von Amazon zu verbessern und um die Leistung unserer Dienste zu messen und zu
          verstehen.
        </p>
      </app-titled-drop-down>
    </div>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <h2>Werbe-Cookies</h2>
        </ion-col>
        <ion-col>
          <ion-radio-group (ionChange)="addsChange($event)">
            <span>
            <ion-label>An</ion-label><ion-radio value="on"></ion-radio>
          </span>
            <span>
            <ion-label>Aus</ion-label><ion-radio value="off"></ion-radio>
          </span>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>
      Wir verwenden Cookies auch, um bestimmte Arten von Anzeigen zu schalten, insbesondere für Produkte und Dienste,
      die bei Amazon nicht erhältlich sind, und für bestimmte Anzeigen, die aufgrund Ihrer Interessen relevant sind.
      Auch zugelassene Drittparteien können Cookies setzen, wenn Sie mit Amazon Services interagieren. Dritte verwenden
      Cookies im Prozess der Bereitstellung von Werbeinhalten, insbesondere Anzeigen, die aufgrund Ihrer Interessen
      relevant sind, um die Effektivität ihrer Anzeigen zu messen und um Dienstleistungen im Namen von Amazon zu
      erbringen.
    </p>
    <p>Um mehr darüber zu erfahren, wie Amazon interessenbezogene Werbung anbietet, besuchen Sie bitte den Hinweis zu
      interessenbezogener Werbung. Wechseln Sie bitte zur Seite Einstellungen für Werbung, um Ihre Einstellungen für
      interessenbezogene Werbung anzupassen. </p>
    <div>
      <p>
        Sie können Ihre Cookie-Einstellungen jederzeit auf dieser Seite mit den Cookie-Einstellungen ändern. Diese Seite
        erreichen Sie über Ihr Konto und den Cookie-Hinweis. Für weitere Informationen über Cookies und wie wir sie
        verwenden, lesen Sie bitte unseren Cookie-Hinweis.
      </p>
      <app-titled-drop-down title="Einstellungen für Werbe-Cookies anpassen">
        <div class="drop-down">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <h3>Amazon-Werbung</h3>
              </ion-col>
              <ion-col>
                <ion-radio-group (ionChange)="amazonAddsChange($event)">
            <span>
            <ion-label>An</ion-label><ion-radio value="on" checked="true"></ion-radio>
          </span>
                  <span>
            <ion-label>Aus</ion-label><ion-radio value="off"></ion-radio>
          </span>
                </ion-radio-group>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <h3>Werbung zugelassenener Dritter</h3>
              </ion-col>
              <ion-col>
                <ion-radio-group (ionChange)="thirdPartyAddsChange($event)">
            <span>
            <ion-label>An</ion-label><ion-radio value="on"></ion-radio>
          </span>
                  <span>
            <ion-label>Aus</ion-label><ion-radio value="off"></ion-radio>
          </span>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button size="small" class="outline" fill="outline" (click)="thirdPartyAdjust()">Cookies für Werbung von Drittanbietern anpassen
          </ion-button>
        </div>
      </app-titled-drop-down>
    </div>
    <p>Sie können Ihre Cookie-Einstellungen jederzeit auf dieser Seite mit den Cookie-Einstellungen ändern. Diese Seite
      erreichen Sie über Ihr Konto und den Cookie-Hinweis. Für weitere Informationen über Cookies und wie wir sie
      verwenden, lesen Sie bitte unseren Cookie-Hinweis. </p>
  </div>
</ion-content>
