.container{
  max-width:1200px;
  margin: 5rem auto;
  display: grid;
  justify-content: center;
  text-align: center;
}

#results{
  border: #31708E solid;
  border-radius: 6px;
  background-color: #9ac7e6;

}
