<ion-header>
  <app-header-info></app-header-info>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Geschafft!</h1>
    <p>Auf der Seite des Fragebogens werden Sie aufgefordert Informationen anzugeben. Hier sind die geforderten Informationen:</p>
    <div id="results">
      <p><strong>OPLIS Resultat: </strong>{{oplisScore}}</p>
      <p><strong>Cluster: </strong>{{cluster}}</p>
      <p><strong>Wert: </strong>{{acceptedCookies}}</p>
    </div>
    <p>Wenn Sie das gemacht haben können Sie diesen Tab schließen.</p>

  </div>

</ion-content>
