.header{
  height: 200px;
  background-image: url("../../../../../assets/facebook/popup-header.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.middle{
  overflow: scroll;
  position: relative;
}

p{
  margin-bottom: 12px;
  margin-top: 0px;
}

ion-grid{
  padding: 0px;
}
ion-col{
  padding-top: 0px;
  padding-bottom: 0px;
}

.gray-box{
  background-color: #F7F8FA;
  padding: 16px;
  border-radius: 8px;
}

li{
  color: gray;
}

.side-padding{
  padding-left: 16px;
  padding-right: 16px;
}

.bottom-line{
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 20px;
  border-bottom: solid lightgray thin;
}

.footer{
  height: 112px;
  width: 100%;
  bottom: 0px;
  padding: 16px;
  vertical-align: bottom;
}

ion-button{
  width: 100%;
  text-transform: none;
  --box-shadow: none;
}

.some{
  color: black;
  --background: #e4e6eb;
}

.all{
  --background: #1877f2;
}
