<ion-content>
  <ion-button id="up" slots="icon-only" (click)="scrollUp()">
    <ion-icon name="chevron-up-outline" strong="true"></ion-icon>
  </ion-button>
  <div id="wrapper">
    <img src="assets/page-backgrounds/ebay-adjust-header.png">
    <div id="mainContent">
      <h1>Werbung und damit verbundene Einstellungen</h1>
      <p id="disclaimer">Diese Einstellungen sollen unseren Kunden im Europäischen Wirtschaftsraum (EWR) und im
        Vereinigten Königreich
        dabei helfen, die Platzierung und Verwendung von Cookies und ähnlichen Technologien durch Drittunternehmen zu
        steuern, mit denen wir zusammenarbeiten, um Ihre Daten (einschließlich personenbezogener Daten, z.B. IP-Adresse)
        für personalisierte Werbung und Inhalte sowie für Mess- und Analysezwecke zu verarbeiten.</p>
      <h1>Welche Informationen werden verwendet?</h1>
      <ul>
        <li>Browser und Browsereinstellungen</li>
        <li>Informationen zum Gerät und dessen Betriebssystem</li>
        <li>Informationen zu Cookies (z.B. Cookie ID)</li>
        <li>Nutzersegmentierung (z.B. Nutzer‑Lifestage‑Segment ID)</li>
        <li>Sonstige Kennzeichnungen, die dem Gerät zugeordnet sind</li>
        <li>Die IP‑Adresse, über die das Gerät auf die eBay‑Website oder eBay‑App zugreift</li>
        <li>Informationen zu den Aktivitäten, die der Nutzer mit diesem Gerät ausführt, einschließlich der Aktivitäten
          bei eBay und auf besuchten oder genutzten Websites und Apps (z.B. Event‑ID einer spezifischen Aktivität,
          Event‑Name und ‑Zeit, URL der Event‑Quelle, gehashte Transaktions‑ oder Artikelnummer)
        </li>
        <li>Informationen zum geografischen Standort des Nutzers oder Geräts beim Zugriff auf eine Website oder App</li>
        <li>Gehashte Kontaktdaten (können Namen, E‑Mail‑Adresse, Geschlecht, Geburtsdatum, Telefon, Ort, Bundesland und
          PLZ enthalten)
        </li>
      </ul>
      <p>
        Sie können Ihre Datenschutzeinstellungen über die folgenden Einstellungen festlegen. Die Einstellungen können
        jederzeit über diese Website (ebay.de/gdpr) geändert werden.
      </p>
      <p>
        Wir verwenden auch Cookies und ähnliche Technologien, die für die Bereitstellung unserer Services und Funktionen
        auf der Website erforderlich sind. Weitere Informationen zur Verwendung dieser Technologien finden Sie in
        unserer Cookie-Erklärung. Wie eBay Ihre personenbezogenen Daten generell verarbeitet, erfahren Sie in unserer
        Datenschutzerklärung.
      </p>
      <section>
        <h3>Unsere Partner</h3>
        <ul>
          <li>
            „Framework-Partner“ nehmen am IAB Transparency & Consent Framework (IAB TCF) teil und ermöglichen es Ihnen,
            über die folgenden Schalter zu steuern, wie Ihre Daten erfasst und genutzt werden. Informationen zu den
            einzelnen Partnern sowie zu den Auswahlmöglichkeiten erhalten Sie unter „Partner anzeigen“ im Abschnitt zu
            den Framework-Partnern unten.
          </li>
          <li>
            Bei „Nicht-Framework-Partnern“ müssen Sie die Erfassungs- und Nutzungseinstellungen für Ihre Daten direkt
            beim jeweiligen Partner festlegen. Um die einzelnen Einstellungen für die Partner vorzunehmen, klicken Sie
            auf die Partner-Links im Abschnitt „Nicht-Framework-Partner“ unten. Wenn Sie keine Informationen an diese
            weitergeben möchten, stellen Sie einfach alle Schalter im Abschnitt „Framework-Partner“ auf „Nein“.
          </li>
        </ul>
      </section>
      <h3>Framework Partner</h3>
      <section class="list" *ngFor="let zweck of zwecke">
        <ion-item lines="none">
          <h3>
            {{zweck.label}}
          </h3>
          <ion-label *ngIf="zweck.selected" class="label" slot="end">Ja</ion-label>
          <ion-label *ngIf="!zweck.selected" class="label" slot="end">Nein</ion-label>
          <ion-toggle slot="end" [(ngModel)]="zweck.selected"></ion-toggle>
        </ion-item>
        <p class="explanation">
          <strong>Was bedeutet das?</strong> {{zweck.explanation}}</p>
      </section>
      <section class="noTopAnything">
        <p class="smallText">Bitte beachten Sie: Ihre Opt-out-Möglichkeiten sind auf die oben genannten Zwecke
          beschränkt und gelten nicht für die unten aufgeführten besonderen Zwecke.</p>
        <h1>Besondere Zwecke:</h1>
        <ul>
          <li>
            <p class="smallText">
              <strong>Besonderer Zweck 1: Sicherheit gewährleisten, Betrug verhindern und Fehler beheben
                <br>Was bedeutet das?</strong>
              <br>Zur Gewährleistung von Sicherheit, Verhinderung von Betrug und Behebung von Fehlern können Anbieter:
              <br>* sicherstellen, dass Daten sicher übermittelt werden;
              <br>* schädliche, betrügerische, ungültige oder illegale Aktivitäten ausfindig machen und verhindern;
              <br>* den korrekten und effizienten Betrieb von Systemen und Prozessen - einschließlich der Überwachung
              und Verbesserung der Leistung von Systemen und Prozessen - im Rahmen der erlaubten Verarbeitungszwecke
              sicherstellen.
              <br>Anbieter können nicht:
              <br>* Datenverarbeitungen durchführen, die in einem der anderen Verarbeitungszwecke definiert sind.
              <br>Hinweis: Daten, die gesammelt und verwendet werden, um die Sicherheit zu gewährleisten, Betrug zu
              verhindern und Fehler zu beseitigen.
              <br>können automatisch gesendete Geräteeigenschaften zur Identifizierung beinhalten, präzise
              Geolokalisierungsdaten und Daten, die durch aktive Abtastung der Vorrichtung erhalten werden. Merkmale zur
              Identifizierung ohne gesonderte Offenlegung und/oder Opt-in.
              <br>Hinweis: Die Daten, die zur Gewährleistung der Sicherheit, zur Verhinderung von Betrug und zur
              Fehlersuche und -behebung erhoben und verwendet werden, können automatisch gesendete Gerätemerkmale zur
              Identifizierung, präzise Geolokalisierungsdaten und Daten enthalten, die durch aktives Scannen von
              Gerätemerkmalen zur Identifizierung ohne separate Offenlegung und/oder Opt-in erhalten werden.
            </p>
          </li>
          <li>
            <p class="smallText">
              <strong>Besonderer Zweck 2: Anzeigen oder Inhalte technisch bereitstellen
                <br>Was bedeutet das?</strong>
              <br>Zur Bereitstellung von Informationsdaten und um auf technische Anfragen zu reagieren können Anbieter:
              <br>* die IP-Adresse eines Benutzers verwenden, um über das Internet eine Anzeige einzublenden;
              <br>* auf die Interaktion eines Benutzers mit einer Anzeige reagieren, indem sie den Benutzer zu einer
              Zielseite weiterleiten;
              <br>* die IP-Adresse eines Benutzers verwenden, um Inhalte über das Internet bereitzustellen;
              <br>* auf die Interaktion eines Benutzers mit Inhalten reagieren, indem sie den Benutzer zu einer
              Zielseite weiterleiten;
              <br>* Informationen zum Gerätetyp und seinen Möglichkeiten zur Darstellung von Anzeigen oder Inhalten
              verwenden, z. B. um Werbemittel oder Videodateien in der richtigen Größe und in einem vom Gerät
              unterstützten Format bereitzustellen.
              <br>
              <br>Anbieter können nicht:
              <br>* Datenverarbeitungen durchführen, die in einem der anderen Verarbeitungszwecke definiert sind.
            </p>
          </li>
        </ul>
        <h1>Merkmale:</h1>
        <ul>
          <li>
            <p class="smallText">
              <strong>Funktion 1: Mit Offline-Datenquellen zusammenführen:</strong> Anbieter können:
              <br>
              * Daten, die offline erhoben wurden, mit Daten, die online erhoben wurden, zusammenführen, um sie für
              einen oder mehrere Verarbeitungszwecke oder besondere Verarbeitungszwecke ergänzend zu nutzen.
            </p>
          </li>
          <li>
            <p class="smallText">
              <strong>Funktion 2: Verschiedene Geräte verknüpfen:</strong> Anbieter können:
              <br>* deterministisch ermitteln, dass zwei oder mehr Geräte zum gleichen Benutzer oder Haushalt gehören;
              <br>* probabilistisch ermitteln, dass zwei oder mehr Geräte zum gleichen Benutzer oder Haushalt gehören;
              <br>* Geräteeigenschaften zur probabilistischen Identifikation aktiv abfragen, wenn Nutzer Anbietern die
              aktive Abfrage von Geräteeigenschaften erlaubt haben. (Besondere Verarbeitungsmöglichkeit 2).
            </p>
          </li>
          <li>
            <p class="smallText">
              <strong>Funktion 3: Empfangen und Verwenden automatisch gesendeter Geräteeigenschaften für die
                Identifikation: </strong>Anbieter können:
              <br>* eine Kennung unter Verwendung automatisch übertragener Geräteeigenschaften wie z.B. IP-Adresse oder
              Browser-Kennung.
              <br>* Eine solche Kennung benutzen, um zu versuchen, ein Gerät wiederzuerkennen
              <br>Anbieter dürfen nicht:
              <br>* aus Daten, die aus der aktiven Abfrage bestimmter Eigenschaften eines Geräts - z. B. der
              installierten Schriftarten oder der Bildschirmauflösung - gewonnen wurden, eine Kennung erstellen;
              <br>* eine solche Kennung verwenden, um ein Gerät erneut zu identifizieren.
            </p>
          </li>
        </ul>
      </section>
      <h3>Nicht-Framework-Partner</h3>
      <p class="smallText">Bei den folgenden Partnern müssen Sie die Erfassungs- und Nutzungseinstellungen für Ihre
        Daten direkt beim jeweiligen Partner festlegen. Wenn Sie möchten, dass wir im Hinblick auf die für jeden Partner
        beschriebenen Zwecke keine Informationen an die folgenden Partner weitergeben, geben Sie dies an, indem Sie alle
        Schalter im Abschnitt „Framework-Partner“ auf „Nein“ stellen.</p>
      <section>
        <h3>Facebook</h3>
        <p class="smallText">
          Wir können Informationen darüber, wie Sie eBay nutzen, und bestimmte personenbezogene Daten von Ihnen
          verwenden und über Facebook-Pixel bzw. durch Senden der Daten direkt über unsere Server an Facebook
          weitergeben. So können wir Werbung auf den Plattformen von Facebook auf Sie zuschneiden und messen sowie
          Inhalte auswählen, bereitstellen und auswerten. Mehr dazu, wie Facebook Ihre personenbezogenen Daten
          verarbeitet, erfahren Sie unter https://www.facebook.com/about/privacy. Weitere Informationen zur
          Datenweitergabe an Facebook durch uns finden Sie in unserer Cookie-Erklärung.
        </p>
      </section>
      <section>
        <h3>Microsoft Bing</h3>
        <p class="smallText">
          Wir können Informationen darüber, wie Sie eBay nutzen, und bestimmte personenbezogene Daten von Ihnen
          verwenden und über Microsoft-Pixel oder andere Technologie bzw. Offline-Conversion-Uploads an Microsoft
          weitergeben. So können wir Werbung auf Sie zuschneiden und messen sowie Inhalte auswählen, bereitstellen und
          auswerten. Weitere Informationen zur Verarbeitung Ihrer personenbezogenen Daten durch Microsoft finden Sie
          unter https://privacy.microsoft.com/en-US/privacystatement.
        </p>
      </section>
      <section>
        <h3>eBay Partner Network-Publisher</h3>
        <p class="smallText">
          Wir können Nutzungsdaten verwenden, um Zielgruppensegmente zu erstellen, und diese Segmente (einschließlich
          der anonymisierten eindeutigen Nutzer-IDs für das entsprechende Segment) an unsere eBay Partner
          Network-Publisher („ePN-Partner“) weitergeben, um die Werbung für Sie auf den Websites unserer ePN-Partner zu
          personalisieren. Ein Zielgruppensegment kann beispielsweise aus neuen Nutzern bestehen, die noch keine
          Einkäufe bei eBay getätigt haben. Wir geben keine direkt identifizierbaren personenbezogenen Daten an unsere
          ePN-Partner weiter.
        </p>
        <p class="smallText">
          eBay nimmt am IAB Europe Transparency & Consent Framework teil, hält die entsprechenden Bestimmungen und
          Grundsätze ein und betreibt diese Plattform für die Zustimmungsverwaltung mit der Identifikationsnummer 125.
        </p>
      </section>
      <ion-toolbar>
        <button id="onwards" (click)="acceptSelection()" slot="end">Weiter</button>
      </ion-toolbar>

    </div>
  </div>

</ion-content>
