<div class="wrapper">
  <h4>Wählen Sie Ihre Cookie-Einstellungen</h4>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <p>
            Wir verwenden Cookies und ähnliche Tools, die erforderlich sind, um Ihnen Einkäufe zu ermöglichen, Ihr
            Einkaufserlebnis zu verbessern und unsere Dienste bereitzustellen. Dies wird auch in unseren
            Cookie-Bestimmungen beschrieben. Wir verwenden diese Cookies auch, um nachzuvollziehen, wie Kunden unsere
            Dienste nutzen (z. B. durch Messung der Websiteaufrufe), damit wir Verbesserungen vornehmen können.
          </p>
          <p>
            Wenn Sie damit einverstanden sind, verwenden wir auch Cookies, um Ihr Einkaufserlebnis in den Stores zu
            ergänzen. Dies wird auch in unseren Cookie-Bestimmungen beschrieben. Dies beinhaltet die Verwendung von
            Cookies von Erst- und Drittanbietern, die Standardgeräteinformationen wie eine eindeutige Kennzeichnung
            speichern oder darauf zugreifen. Drittanbieter verwenden Cookies, um personalisierte Anzeigen zu schalten,
            deren Wirksamkeit zu messen, Erkenntnisse über Zielgruppen zu generieren und Produkte zu entwickeln und zu
            verbessern. Klicken Sie auf „Cookies anpassen“, um diese Cookies abzulehnen, detailliertere Einstellungen
            vorzunehmen oder mehr zu erfahren. Sie können Ihre Auswahl jederzeit ändern, indem Sie die
            Cookie-Einstellungen, wie in den Cookie-Bestimmungen beschrieben, aufrufen. Um mehr darüber zu erfahren, wie
            und zu welchen Zwecken Amazon personenbezogene Daten (z. B. den Bestellverlauf im Amazon Store) verwendet,
            lesen Sie bitte unsere Datenschutzerklärung.
          </p>
        </div>
      </ion-col>
      <ion-col size="5">
        <div>
          <section>
            <ion-button size="small" class="yellow" (click)="accept()">Cookies akzeptieren</ion-button>
            <ion-button size="small" class="outline"fill="outline" (click)="adjust()">Cookies-Einstellungen anpassen</ion-button>
          </section>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
