.wrapper{
  background: #fff url("../../assets/first-popup.png") no-repeat center;
  height: 100%;
  width: 100%;
}

.google-button {
  --border-radius: 40px;
  --box-shadow: none;
  --padding-top: 18px;
  --padding-bottom: 18px;
  --padding-left: 30px;
  --background: #4285F4;
  text-transform: none;
}

.reject{
  position: relative;
  left: 205px;
  top: 700px;
}

.accept{
  position: relative;
  left: 305px;
  top: 700px;
}

.option-button {
  --box-shadow: none;
  text-transform: none;
  position: relative;
  left: 30px;
  top: 750px;
  color: #4285F4;
  --background: white;

}
