h2 {
  position: relative;
  padding: var(--header-padding, 1em);
  margin:0px;
  font-size: var(--header-font-size, medium);
  color: var(--header-color, #000);
  background: var(--header-background, white);
  font-family: var(--header-font-family, normal);
  font-weight: var(--header-font-weight, normal);
  border-radius: var(--header-border-radius);


  /* Define the style rules for the 'arrow icons' */
  span {
    display: block;
    float: var(--arrow-position, right);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.95em;
    color: black;
  }
}

div {
  background-color: var(--background);
  border-radius: var(--border-radius);
}

.body {
  padding: var(--body-padding);
  background-color: var(--body-background);
  border-radius: var(--body-border-radius);
}

/* Following classes display/hide the 'menu'
// based on the state change detection in the
// component class */
.active {
  display: block
}

.inactive {
  display: none;
}
