<ion-header>
  <app-header-info></app-header-info>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="prevAnswered.length < 21">
      <p class="text-center">{{ prevAnswered.length }} of {{ questions.length }}</p>
      <h1>{{ questions[currentQuestion].question }}</h1>

      <div class="answers">
        <ul class="answers__list" *ngFor="let option of questions[currentQuestion].answer">
          <label>
            <li class="answers__item">
              <input type="radio" name="options" (change)="onSelect(option.correct)">
              {{ option.option }}
            </li>
          </label>
        </ul>
      </div>
      <ion-button size="large"(click)="submitAnswer()" [disabled]="!answerSelected">Auswahl bestätigen<br>und zur nächsten Frage</ion-button>
    </div>
    <!--When all questions are answered-->
    <div *ngIf="prevAnswered.length > 20">
      <div class="results-wrapper">
        <p>Richtige Antworten: {{ correctAnswers }} | Falsche Antworten: {{ incorrectAnswers }}</p>
        <p>OPLIS Wert: {{result.oplisScore}}</p>
        <p>Prozentrang: {{result.percentageRank}}</p>
        <h4>Cluster: {{result.cluster}}</h4>
        <p>Sie müssen sich diese Informationen nicht merken.</p>
      </div>
      <div>
        <p>Als nächstes werden Ihnen die Cookie Popups verschiedener Webseiten angezeigt. Stellen Sie sich vor, Sie
          würden die Webseite besuchen wollen und das Popup kommt. Wählen Sie die Cookies so wie Sie es auch in der
          Realität tun würden. Wenn Sie Ihre Auswahl getroffen haben werden Sie automatisch zum nächten Testpopup
          weitergeleitet.</p>
        <p>Info: So lange Sie das petrolfarbene Banner mit dem durchgestrichenen Keks sehen befinden Sie sich auf der
          Webseite des Prototypen und es werden keine echten Cookies gesetzt.</p>
      </div>
      <ion-button [routerLink]="['/google']">Weiter!</ion-button>

    </div>

  </div>
</ion-content>
