<ion-header></ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="prevAnswered.length < 21">
      <p class="text-center">{{ prevAnswered.length }} of {{ questions.length }}</p>
      <h1>{{ questions[currentQuestion].question }}</h1>

      <div class="answers" >
        <ul class="answers__list" *ngFor="let quiz of questions[currentQuestion].answer" >
          <label><li class="answers__item">
            <input  type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
            {{ quiz.option }}
          </li></label>
        </ul>
      </div>
    </div>
<!--When all questions are answered-->
    <div *ngIf="prevAnswered.length > 20">
      <button class="btn" (click)="playAgain()" >Fragebogen wiederholen</button>
      <div class="results-wrapper">
        <p>Richtige Antworten: {{ correctAnswers }} | Falsche Antworten: {{ incorrectAnswers }}</p>
        <p>OPLIS Wert: {{result.oplisScore}}</p>
        <p>Prozentrang: {{result.percentageRank}}</p>
        <h4>Cluster: {{result.cluster}}</h4>
      </div>
      <ion-button [routerLink]="['/before-cookies']">Next step!</ion-button>

    </div>

  </div>
</ion-content>
