<div class="wrapper">
  <div class="center">
    <h1>Datenschutz und Nutzungserlebnis auf BILD.de</h1>
  </div>
  <div class="middle">
    <ion-grid>
      <ion-row>
        <ion-col class="right-col flex-box">
          <div class="flex-item">
            <h2>Ohne Tracking und Cookies* nutzen</h2>
            <p>
              Nutzen Sie BILD.de ohne Tracking, Cookies und personalisierte Werbung für 3,99 EUR/Monat (rabattiert für
              BILDplus-Abonnenten 2,99 EUR/Monat). Informationen zur Datenverarbeitung im BILD Pur-Abo finden Sie in
              unserer Datenschutzerklärung und in den FAQ.
            </p>
            <p>
              Wenn Sie BILD Pur abonnieren, können Sie die auf bild.de verfügbaren Inhalte ohne Tracking und Cookies*
              lesen. Sofern Sie bereits BILDplus-Abonnent sind und BILD Pur zusätzlich abonnieren, können Sie auch die
              BILD Plus-Inhalte ohne Tracking und Cookies* lesen.
            </p>
          </div>
          <div class="flex-item">
            <p id="boo">
              * In BILD Pur werden keine einwilligungspflichtigen Datenverarbeitungen vorgenommen und
                nur solche Cookies und ähnliche Technologien verwendet, die zur Erbringung dieses Dienstes unbedingt
                erforderlich sind.
            </p>
            <button class="my-button abbo-button"> Jetzt BILD Pur abonnieren</button>
            <p class="gray"> Sie haben bereits ein BILD Pur-Abbo? jetzt anmelden</p>
          </div>
        </ion-col>
        <ion-col class="left-col flex-box">
          <div class="flex-item">
            <h2>Mit Tracking und Cookies nutzen</h2>
            <p>
              Wir übermitteln personenbezogene Daten an Drittanbieter, die uns helfen, unser Webangebot zu verbessern und zu finanzieren. In diesem Zusammenhang werden auch Nutzungsprofile (u.a. auf Basis von Cookie-IDs) gebildet und angereichert, auch außerhalb des EWR. Hierfür und um bestimmte Dienste zu nachfolgend aufgeführten Zwecken verwenden zu dürfen, benötigen wir Ihre Einwilligung. Indem Sie "Alle akzeptieren" klicken, stimmen Sie diesen (jederzeit widerruflich) zu. Dies umfasst auch Ihre Einwilligung in die Übermittlung bestimmter personenbezogener Daten in Drittländer, u.a. die USA, nach Art. 49 (1) (a) DSGVO. Sie können Ihre Auswahl jederzeit unter "Widerruf Tracking“ am Seitenende ändern.
            </p>
          </div>
          <div class="flex-item">
            <app-titled-drop-down title="Informationen auf einem Gerät speichern und/oder abrufen">
              <p class="drop-down-body">
                Für die Ihnen angezeigten Verarbeitungszwecke können Cookies, Geräte-Kennungen oder andere Informationen auf Ihrem Gerät gespeichert oder abgerufen werden.
              </p>
            </app-titled-drop-down>
            <app-titled-drop-down title="Personalisierte Anzeigen und Inhalte, Anzeigen- und Inhaltsmessungen, Erkentnisse über Zielgruppen und Produktentwicklungen">
              <p class="drop-down-body">
                Anzeigen und Inhalte können basierend auf einem Profil personalisiert werden. Es können mehr Daten hinzugefügt werden, um Anzeigen und Inhalte besser zu personalisieren. Die Performance von Anzeigen und Inhalten kann gemessen werden. Erkenntnisse über Zielgruppen, die die Anzeigen und Inhalte betrachtet haben, können abgeleitet werden. Daten können verwendet werden, um Benutzerfreundlichkeit, Systeme und Software aufzubauen oder zu verbessern.
              </p>
            </app-titled-drop-down>
            <app-titled-drop-down title="Fremdinhalte anzeigen (Soziale Netzewerke, Videos)">
              <p class="drop-down-body">
                Inhalte von sozialen Netzwerken und eingebettete Inhalte von Drittanbietern können angezeigt werden.
              </p>
            </app-titled-drop-down>
            <app-titled-drop-down title="Verwendung der netID">
              <p class="drop-down-body">
                Wenn Sie die gesonderte Einwilligung in die Verwendung der NetID erteilt haben, verabeiten wir die NetID für die oben angegebenen Zwecke „Personalisierte Anzeigen und Inhalte, Anzeigen und Inhaltsmessungen, Erkenntnisse über Zielgruppen und Produktentwicklungen“.
              </p>
            </app-titled-drop-down>

            <button class="my-button accept-button" (click)="acceptAll()">Alle akzeptieren</button>
            <p class="gray"> Details dazu finden Sie im Privacy Center</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <a href="https://a.bildstatic.de/FAQ-BILD-Pur-Abonnement.pdf">
      FAQ
    </a>&nbsp; |
    <a href="https://www.bild.de/corporate-site/datenschutz/datenschutz/artikel-datenschutz-54485502.bild.html">
      Datenschutzerklärung
    </a>&nbsp; |&nbsp;
    <a href="https://www.bild.de/corporate/site/bild-de/bild-impressum-61563986.bild.html">
      Impressum
    </a>
  </div>


</div>
