<ion-content>
  <ion-button id="up" slots="icon-only" (click)="scrollUp()">
    <ion-icon name="chevron-up-outline" strong="true"></ion-icon>
  </ion-button>
  <div id="wrapper">
    <img src="assets/page-backgrounds/ebay-adjust-header.png">
    <div id="mainContent">
      <h1>Werbung und damit verbundene Einstellungen</h1>
      <p id="disclaimer">Diese Einstellungen sollen unseren Kunden im Europäischen Wirtschaftsraum (EWR) und im
        Vereinigten Königreich
        dabei helfen, die Platzierung und Verwendung von Cookies und ähnlichen Technologien durch Drittunternehmen zu
        steuern, mit denen wir zusammenarbeiten, um Ihre Daten (einschließlich personenbezogener Daten, z.B. IP-Adresse)
        für personalisierte Werbung und Inhalte sowie für Mess- und Analysezwecke zu verarbeiten.</p>
      <h1>Welche Informationen werden verwendet?</h1>
      <ul>
        <li>Browser und Browsereinstellungen</li>
        <li>Informationen zum Gerät und dessen Betriebssystem</li>
        <li>Informationen zu Cookies (z.B. Cookie ID)</li>
        <li>Nutzersegmentierung (z.B. Nutzer‑Lifestage‑Segment ID)</li>
        <li>Sonstige Kennzeichnungen, die dem Gerät zugeordnet sind</li>
        <li>Die IP‑Adresse, über die das Gerät auf die eBay‑Website oder eBay‑App zugreift</li>
        <li>Informationen zu den Aktivitäten, die der Nutzer mit diesem Gerät ausführt, einschließlich der Aktivitäten
          bei eBay und auf besuchten oder genutzten Websites und Apps (z.B. Event‑ID einer spezifischen Aktivität,
          Event‑Name und ‑Zeit, URL der Event‑Quelle, gehashte Transaktions‑ oder Artikelnummer)
        </li>
        <li>Informationen zum geografischen Standort des Nutzers oder Geräts beim Zugriff auf eine Website oder App</li>
        <li>Gehashte Kontaktdaten (können Namen, E‑Mail‑Adresse, Geschlecht, Geburtsdatum, Telefon, Ort, Bundesland und
          PLZ enthalten)
        </li>
      </ul>
      <p>
        Sie können Ihre Datenschutzeinstellungen über die folgenden Einstellungen festlegen. Die Einstellungen können
        jederzeit über diese Website (ebay.de/gdpr) geändert werden.
      </p>
      <p>
        Wir verwenden auch Cookies und ähnliche Technologien, die für die Bereitstellung unserer Services und Funktionen
        auf der Website erforderlich sind. Weitere Informationen zur Verwendung dieser Technologien finden Sie in
        unserer Cookie-Erklärung. Wie eBay Ihre personenbezogenen Daten generell verarbeitet, erfahren Sie in unserer
        Datenschutzerklärung.
      </p>
      <section>
        <h3>Unsere Partner</h3>
        <ul>
          <li>
            „Framework-Partner“ nehmen am IAB Transparency & Consent Framework (IAB TCF) teil und ermöglichen es Ihnen,
            über die folgenden Schalter zu steuern, wie Ihre Daten erfasst und genutzt werden. Informationen zu den
            einzelnen Partnern sowie zu den Auswahlmöglichkeiten erhalten Sie unter „Partner anzeigen“ im Abschnitt zu
            den Framework-Partnern unten.
          </li>
          <li>
            Bei „Nicht-Framework-Partnern“ müssen Sie die Erfassungs- und Nutzungseinstellungen für Ihre Daten direkt
            beim jeweiligen Partner festlegen. Um die einzelnen Einstellungen für die Partner vorzunehmen, klicken Sie
            auf die Partner-Links im Abschnitt „Nicht-Framework-Partner“ unten. Wenn Sie keine Informationen an diese
            weitergeben möchten, stellen Sie einfach alle Schalter im Abschnitt „Framework-Partner“ auf „Nein“.
          </li>
        </ul>
      </section>
      <section>
        <h3>Framework Partner</h3>
        <ion-item>
          <h3>
            Zweck 1: Informationen auf einem Gerät speichern und/oder abrufen
          </h3>
          <ion-label *ngIf="zwecke[0]" class="label" slot="end">Ja</ion-label>
          <ion-label *ngIf="!zwecke[0]" class="label" slot="end">Nein</ion-label>
          <ion-toggle slot="end" [(ngModel)]="zwecke[0]">

          </ion-toggle>
        </ion-item>
      </section>
      <ion-button (click)="log()">log zwecke</ion-button>
    </div>
  </div>

</ion-content>
