<div id="wrapper">
  <div class="center">
    <img src="assets/google/googlelogo.svg">
    <h2>Personalisierungseinstellungen und Cookies</h2>
    <p>Wir verwenden Cookies, um Personalisierungseinstellungen zur Verfügung zu stellen. Über diese können Sie
      festlegen, wie Sie die Dienste von Google nutzen möchten – auch wenn Sie abgemeldet sind. Sie können Ihre
      Einstellungen jederzeit unter g.co/privacytools ändern. Wenn Sie wissen möchten, wie Google Informationen
      verwendet, die während Ihrer Nutzung von Google-Diensten generiert werden, dann lesen Sie unsere
      Datenschutzerklärung.</p>
  </div>
  <div class="box">
    <h2>Suchanpassung</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>
            Sie erhalten relevante Ergebnisse und Empfehlungen auf der Grundlage ihrer Google-Suchanfragen über diesen
            Browser.
          </p>
        </ion-col>
        <ion-col>
          <img [hidden] = "!(selectedCookies.suchanpassung === 'NEUTRAL')" src="assets/google/suchverlauf-neutral.svg">
          <img [hidden] = "!(selectedCookies.suchanpassung === 'ACTIVE')" src="assets/google/suchverlauf-active.svg">
          <img [hidden] = "!(selectedCookies.suchanpassung === 'NOTACTIVE')" src="assets/google/suchverlauf-off.svg">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div align="right">
      <ion-button [hidden] = "(selectedCookies.suchanpassung === 'NOTACTIVE')" fill="clear" (click)="suchanpassungAus()">Aus</ion-button>
      <ion-button class="active-button" [hidden] = "!(selectedCookies.suchanpassung === 'NOTACTIVE')" (click)="suchanpassungAus()">Aus</ion-button>
      <!--for styling purposes one button "active" and one "not active"-->
      <ion-button [hidden] = "(selectedCookies.suchanpassung === 'ACTIVE')" fill="clear" (click)="suchanpassungAn()">An</ion-button>
      <ion-button class="active-button" [hidden] = "!(selectedCookies.suchanpassung === 'ACTIVE')" (click)="suchanpassungAn()">An</ion-button>

    </div>
  </div>
</div>

