<ion-header>
  <h3 id="header">für Website: {{website}}</h3>
</ion-header>
<ion-content>
  <p>{{header}}</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-titled-drop-down title="Was ist ein Cookie?">
          <p>{{cookieExplanation}}</p>
        </app-titled-drop-down>
      </ion-col>
      <ion-col>
        <app-titled-drop-down title="Was sind third-party Cookies?">
          <p>{{thirdPartyExplanation}}</p>
        </app-titled-drop-down>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="infoGrid">
    <ion-row>
      <ion-col size="2">
        <p><strong>Funktionale<br>Cookies</strong></p>
      </ion-col>
      <ion-col>
        <p>{{functionalInfo}}</p>
        <app-titled-drop-down *ngIf="funcExample" title="Beispiel:"><p>{{funcExample}}</p></app-titled-drop-down>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <p><strong>Marketing<br>Cookies</strong></p>
      </ion-col>
      <ion-col>
        <p>{{addInfo}}</p>
        <app-titled-drop-down *ngIf="addExample" title="Beispiel:"><p>{{addExample}}</p></app-titled-drop-down>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <p><strong>Alle<br>Cookies</strong></p>
      </ion-col>
      <ion-col>
        <p>{{allInfo}}</p>
        <app-titled-drop-down *ngIf="allStatistics" title="Beispiel:">
          <p><strong>Präferenz Cookies: </strong>{{allPreference}}</p>
          <p><strong>Statistik Cookies: </strong>{{allStatistics}}</p>
          <p><strong>Social Media Cookies: </strong>{{allSocialMedia}}</p>
        </app-titled-drop-down>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="openConfirmPopup('functionale', functional)">Funktionale<br>Cookies</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="openConfirmPopup('marketing', ads)">Marketing<br>Cookies</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="openConfirmPopup('alle', all)">Alle<br>Cookies</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

