<ion-header></ion-header>
<ion-content>
  <p>{{header}}</p>
  <ion-grid>
    <ion-row>
      <ion-col size="2">Funktionale</ion-col>
      <ion-col>{{functionalInfo}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">Marketing</ion-col>
      <ion-col>{{addInfo}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">Alle</ion-col>
      <ion-col>{{allInfo}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-button>Funktionale<br>Cookies</ion-button>
    <ion-button>Marketing<br>Cookies</ion-button>
    <ion-button>Alle<br>Cookies</ion-button>
  </ion-toolbar>


</ion-content>

