<ion-header></ion-header>
<ion-content>
  <p>{{header}}</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-titled-drop-down title="Was ist ein Cookie?">
          {{cookieExplanation}}
        </app-titled-drop-down>
      </ion-col>
      <ion-col>
        <app-titled-drop-down title="Was sind third-party Cookies?">
          {{thirdPartyExplanation}}
        </app-titled-drop-down>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="infoGrid">
    <ion-row>
      <ion-col size="2">Funktionale</ion-col>
      <ion-col>
        {{functionalInfo}}
        <app-titled-drop-down *ngIf="funcExample" title="Beispiel:">{{funcExample}}</app-titled-drop-down>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">Marketing</ion-col>
      <ion-col>{{addInfo}}
        <app-titled-drop-down *ngIf="addExample" title="Beispiel:">{{addExample}}</app-titled-drop-down>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">Alle</ion-col>
      <ion-col>{{allInfo}}
        <app-titled-drop-down *ngIf="allStatistics" title="Beispiel:">
          <p><strong>Präferenz Cookies: </strong>{{allPreference}}</p>
          <p><strong>Statistik Cookies: </strong>{{allStatistics}}</p>
          <p><strong>Social Media Cookies: </strong>{{allSocialMedia}}</p>
        </app-titled-drop-down>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-button (click)="openConfirmPopup('functionale', functional)">Funktionale<br>Cookies</ion-button>
    <ion-button (click)="openConfirmPopup('marketing', ads)">Marketing<br>Cookies</ion-button>
    <ion-button (click)="openConfirmPopup('alle', all)">Alle<br>Cookies</ion-button>
  </ion-toolbar>


</ion-content>

