<div class="header"></div>
<div class="middle">
  <div class="bottom-line">
    <p>Wir verwenden Cookies und ähnliche Technologien für folgende Zwecke:</p>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-col>
        <ion-col><p>Um Inhalte in Facebook-Produkten bereitstellen und verbessern zu können</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto">
          <ion-icon name="basket-outline"></ion-icon>
        </ion-col>
        <ion-col><p>Um mithilfe der über Cookies auf und außerhalb von Facebook erhaltenen Informationen die Sicherheit
          unserer Nutzer zu erhöhen</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto">
          <ion-icon name="shield-outline"></ion-icon>
        </ion-col>
        <ion-col><p>Um Facebook-Produkte für Personen, die bereits ein Konto haben, bereitzustellen und zu
          verbessern</p></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="bottom-line">
    <p>Wir verwenden auf Facebook Tools anderer Unternehmen für Werbezwecke und Messdienstleistungen außerhalb der
      Facebook-Produkte, zu Analysezwecken sowie zur Bereitstellung bestimmter Funktionen und zur Verbesserung unserer
      Dienste für dich. Diese Unternehmen setzen ebenfalls Cookies ein.</p>
    <p>Du kannst die Verwendung sämtlicher oder nur erforderlicher Cookies erlauben oder unten weitere Optionen
      auswählen. In unserer Cookie-Richtlinie erfährst du mehr über Cookies und wie wir sie verwenden. Dort kannst du
      deine Auswahl außerdem jederzeit überprüfen oder ändern.</p>
    <h1>Erforderliche Cookies</h1>
    <p>Diese Cookies sind erforderlich für die Nutzung von Facebook-Produkten. Sie sind notwendig, damit diese Websites
      wie vorgesehen funktionieren.</p>
  </div>
  <div class="bottom-line">
    <app-titled-drop-down title="Weitere Informationen">
      <div class="gray-box">
        <p>Wenn du diese Cookies erlaubst:</p>
        <ul>
          <li>Können wir Anzeigen außerhalb von Facebook-Produkten besser für dich personalisieren und ihre Performance
            messen
          </li>
          <li>Hat das keine Auswirkungen auf die Funktionen unserer Produkte</li>
          <li>Erhalten andere Unternehmen durch die Verwendung von Cookies Informationen über dich</li>
        </ul>
      </div>
      <div class="gray-box">
        <p>Wenn du diese Cookies nicht erlaubst:</p>
        <ul>
          <li>Verwenden wir keine Cookies von anderen Unternehmen, um Anzeigen außerhalb von Facebook-Produkten zu
            personalisieren oder um deren Performance zu messen
          </li>
          <li>Funktionieren einige Features unserer Produkte möglicherweise nicht</li>
        </ul>
      </div>
    </app-titled-drop-down>
  </div>
  <div class="side-padding">
    <h1>Andere Möglichkeiten, um deine Informationen zu kontrollieren</h1>
    <app-titled-drop-down title="Einstellungen zu deinem Facebook Konto">
      <p>Wenn du ein Facebook-Konto hast, kannst du mithilfe dieser Tools festlegen, wie unterschiedliche Daten zur
        Personalisierung von Werbeanzeigen verwendet werden.</p>
    </app-titled-drop-down>
    <app-titled-drop-down title="Weitere Informationen zur Onlinewerbung">
      <p>Wenn du keine interessenbasierten Online-Werbeanzeigen von Facebook und anderen teilnehmenden Unternehmen mehr
        sehen möchtest, kannst du dich über die Digital Advertising Alliance (USA), die Digital Advertising Alliance of
        Canada (Kanada), die European Interactive Digital Advertising Alliance (Europa) oder über die Einstellungen deines
        Smartphones (wenn du Android, iOS 13 oder eine frühere Version von iOS verwendest) davon abmelden. Bitte beachte,
        dass Werbeblocker und Tools, die die Verwendung von Cookies durch uns einschränken, diese Einstellungen
        beeinträchtigen könnten.</p>
      <p>Die Werbeunternehmen, mit denen wir zusammenarbeiten, verwenden üblicherweise Cookies und ähnliche Technologien
        im Rahmen ihrer Services. Mehr dazu, wie Werbetreibende Cookies verwenden und welche Optionen sie anbieten,
        findest du in den folgenden Ressourcen:</p>
      <ul>
        <li>Digital Advertising Alliance</li>
        <li>Digital Advertising Alliance of Canada</li>
        <li>European Interactive Digital Advertising Alliance</li>
      </ul>
    </app-titled-drop-down>
    <app-titled-drop-down title="Cookies über die Browser-Einstellungen kontrollieren">
      <p>Über die Einstellungen deines Browsers oder Geräts hast du eventuell die Möglichkeit auszuwählen, ob
        Browser-Cookies akzeptiert oder gelöscht werden sollen. Diese Einstellungen unterscheiden sich je nach Browser.
        Hersteller können sowohl die verfügbaren Einstellungen als auch deren Funktionsweise jederzeit ändern. Ab dem 5.
        Oktober 2020 findest du über die nachstehenden Links zusätzliche Informationen zu Einstellungsoptionen der
        beliebtesten Browser. Wenn du die Verwendung von Browser-Cookies deaktivierst, funktionieren bestimmte
        Teilbereiche von Facebook-Produkten möglicherweise nicht einwandfrei. Bitte beachte, dass sich diese Einstellungen
        von den Facebook-Einstellungen unterscheiden.</p>
    </app-titled-drop-down>
  </div>

</div>

<div class="footer">
  <ion-button class="some">Nur erforderliche Cookies erlauben</ion-button>
  <ion-button class="all">Erforderliche und optionale Cookies erlauben</ion-button>
</div>

