<div class="wrapper">
  <p>
    Wir verwenden Cookies und andere Technologien, die für die Bereitstellung unserer Services und Funktionen auf der
    Website erforderlich sind. Weitere Informationen hierzu finden Sie in unserer Cookie-Erklärung. Wenn Sie zustimmen
    und „Alle akzeptieren“ auswählen, können auch Drittunternehmen, die als unsere Partner agieren, Cookies auf Ihrem
    Gerät speichern und ähnliche Technologien verwenden, um Ihre personenbezogenen Daten (z.B. IP-Adresse) zu erfassen
    und für personalisierte Werbung, Messungen und Analysen auf und abseits unserer Websites zu verwenden. Sie haben die
    Möglichkeit, Ihre Zustimmung zu verweigern, indem Sie „Alle ablehnen“ auswählen, oder können unter „Auswahl
    anpassen“ detailliertere Einstellungen vornehmen. Unter https://www.ebay.de/gdpr können Sie Ihre Zustimmung
    jederzeit widerrufen.
  </p>
  <p>
    Datenverarbeitungszwecke: Informationen auf einem Gerät speichern und/oder abrufen. Personalisierte Anzeigen und
    Inhalte, Messung von Anzeigen und Inhalten, Erkenntnisse über Zielgruppen und Produktentwicklungen.
  </p>
  <ion-toolbar>
    <button slot="end" (click)="adjust()">Auswahl anpassen</button>
    <button slot="end" (click)="rejectAll()">Alle ablehnen</button>
    <button slot="end" (click)="accept()">Alle akzeptieren</button>
  </ion-toolbar>

</div>
