<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cookie Assistant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cookie Assistant</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to play?</strong>
    <p>Start by taking the OPLIS quizz!</p>
    <ion-button [routerLink]="['/oplis']">Let's Go!</ion-button>
  </div>
</ion-content>
