<ion-header>
  <app-header-info></app-header-info>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="center">
    <div id="container">
      <strong>Sie befinden sich nun auf der Seite des Prototypen!</strong>
      <p>Bitte wählen Sie jetzt aus welcher Gruppe Sie zugeteilt wurden.<br> Sie finden diese Information auf der Seite
        des
        Fragebogens.</p>

      <ion-item>
        <ion-select interface="popover" placeholder="Gruppenwahl" (ionChange)="selectionChange($event)">
          <ion-select-option value="ppa">A</ion-select-option>
          <ion-select-option value="pa">B</ion-select-option>
          <ion-select-option value="cg">C</ion-select-option>
        </ion-select>
      </ion-item>

      <p>Danke!</p>
      <div *ngIf="selection">
        <p>Sie werden nun durch einen Fragebogen zur Internetkompetenz geleitet. Die Fragen
          sind zum Teil nicht ganz einfach zu beantworten, um möglichst viele Personen mit
          unterschiedlichem Wissenstand einschätzen zu können. Es ist deswegen gar nicht schlimm, wenn Sie eine Antwort
          nicht wissen. Wählen Sie in dem Fall einfach „Weiß nicht“ aus.</p>
        <p>Es ist immer nur eine Antwort richtig.</p>
        <ion-button [routerLink]="['/questionnaire']">Weiter</ion-button>
      </div>
    </div>
  </div>
</ion-content>
