<div class="header">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 40">
    <defs>
      <style>.cls-1 {
        fill: #000000;
      }</style>
    </defs>
    <title>gmx2</title>
    <path class="cls-1"
          d="M109.42,18.84,120.08,1.09H109.2l-5.67,9-6.1-9H85.51L98.08,18.82l-12.57,20H97.43l6.8-11.37,8.06,11.37h10.64ZM70,1.09,61.91,21.28,54.24,1.09H44.57L38.15,38.87h9.77L51.08,17.1h.1l8.66,21.77h3.91L72.82,17.1h.12l2.75,21.77h9.82L79.79,1.09ZM20.2,17.8v7.68h8C27.78,29.79,24.52,32,20.3,32c-6.42,0-9.89-5.91-9.89-11.75S13.74,8.4,20.15,8.4c3.94,0,6.76,2.38,8.11,5.95l9.26-3.88C34.29,3.47,28.31,0,20.59,0,8.5,0,.25,8,.25,20.19.25,32,8.45,40,20.25,40c6.27,0,11.8-2.24,15.46-7.36C39,28,39.45,23.28,39.55,17.8Z"/>
  </svg>
</div>
<div class="middle">
  <h1>Ihre Privatsphäre ist uns wichtig!</h1>
  <p>
    Um Ihnen diesen Dienst kostenfrei anbieten zu können, finanzieren wir uns u. a. durch Werbeeinblendungen und richten werbliche und nicht-werbliche Inhalte (z. B. Newsletter) auf Ihre Interessen aus. Dafür arbeiten wir mit ausgewählten Partnern zusammen. Ihre Einstellungen können Sie jederzeit mit Klick auf Datenschutz im unteren Bereich unserer Webseite anpassen. Ausführlichere Informationen zu den folgend aufgeführten Verarbeitungszwecken finden Sie hier.
  </p>
  <p class="new-section"><a (click)="toggleAll()">ALLE (DE-)AKTIVIEREN</a></p> <!-- TODO Style this-->
  <h2>Wir, die 1&1 Mail & Media GmbH, benötigen Ihre Zustimmung für die folgenden Verarbeitungszwecke:</h2>
  <ion-list class="checklist">
    <ion-item *ngFor="let checkbox of firstCheckboxes">
      <ion-label class="ion-text-wrap">
        <h2>{{checkbox.value}}</h2>
        <p>{{checkbox.explanation}}</p>
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="checkbox.isItemChecked" (ionChange)="verifyEvent()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <h2>Unsere Partner benötigen Ihre Zustimmung für die folgenden Verarbeitungszwecke:</h2>
  <ion-list class="checklist">
    <ion-item *ngFor="let checkbox of secondCheckboxes">
      <ion-label class="ion-text-wrap">
        <h2>{{checkbox.value}}</h2>
        <p>{{checkbox.explanation}}</p>
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="checkbox.isItemChecked" (ionChange)="verifyEvent()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <h2>Für manche der oben aufgeführten Verarbeitungen nutzen wir und unsere Partner</h2>
  <ion-list class="checklist">
    <ion-item *ngFor="let checkbox of thirdCheckboxes">
      <ion-label class="ion-text-wrap">
        <h2>{{checkbox.value}}</h2>
        <p>{{checkbox.explanation}}</p>
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="checkbox.isItemChecked" (ionChange)="verifyEvent()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <h2>Die folgenden Verarbeitungen sind für die Erbringung unserer Dienstleistungen erforderlich.</h2>
  <ion-list class="checklist">
    <ion-item *ngFor="let checkbox of forthCheckboxes">
      <ion-label class="ion-text-wrap">
        <h2>{{checkbox.value}}</h2>
        <p>{{checkbox.explanation}}</p>
      </ion-label>
      <ion-checkbox slot="start" checked="true" disabled="true">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <p class="new-section"><a (click)="toggleAll()">ALLE (DE-)AKTIVIEREN</a></p> <!-- TODO Style this-->
  <p class="new-section">
    <a>Weiterführende Informationen zum Datenschutz</a>
  </p>
</div>

<!-- FOOTER -->
<div class="footer">
  <ion-toolbar>
    <button class="adjust" (click)="acceptSelection()">Auswahl bestätigen und weiter</button>
    <button class="accept" slot="end" (click)="acceptAll()">Alle auswählen und weiter</button>
  </ion-toolbar>
  <!--Impressum -->
  <div class="center">
    <a href="https://agb-server.gmx.net/datenschutz" target="_blank" class="footer-link">
      Datenschutzhinweise
    </a>
    <a href="https://www.gmx.net/impressum/" target="_blank" class="footer-link">
      Impressum
    </a>
  </div>
</div>

