<div class="wrapper">
    <h1>Herzlich willkommen!</h1>
    <ion-grid>
      <ion-row>
        <ion-col class="right-col">
            <h2>Weiter mit Werbung lesen</h2>
            <p>
              Besuchen Sie SPIEGEL.de wie gewohnt mit Werbung und üblichem Tracking. (Zustimmung ist jederzeit widerrufbar.)
            </p>
            <button class="spiegel-button" (click)="acceptAll()">Akzeptieren und weiter <ion-icon name="chevron-forward-outline"></ion-icon></button>
            <p class="gray"> Details zu Werbe- und Analyse-Trackern sowie zum jederzeit möglichen Widerruf finden Sie in unserer Datenschutzerklärung oder im Privacy Center am Ende jeder Seite.</p>
        </ion-col>
        <ion-col class="left-col">
            <h2>...oder PUR-Abbo abschließen</h2>
            <p>
              Nutzen Sie uns kostenpflichtig ganz ohne Werbetracking und praktisch werbefrei.
            </p>
          <button class="spiegel-button">mehr zum PUR-Abbo <ion-icon name="chevron-forward-outline"></ion-icon></button>
          <p class="gray">Bereits PUR-Abonnent? Hier anmelden.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  <p class="gray">
    Tracking: Zur Verbesserung und Finanzierung unseres Webangebots arbeiten wir mit Drittanbietern zusammen. Diese Drittanbieter und wir erheben und verarbeiten personenbezogene Daten auf unseren Plattformen. Mit auf Ihrem Gerät gespeicherten Cookies, persönlichen Identifikatoren wie bspw. Geräte-Kennungen oder IP-Adressen sowie basierend auf Ihrem individuellen Nutzungsverhalten können wir und diese Drittanbieter ...
  </p>
  <ul>
    <li class="gray">
      ... Informationen auf einem Gerät speichern und/oder abrufen: Für die Ihnen angezeigten Verarbeitungszwecke können Cookies, Geräte-Kennungen oder andere Informationen auf Ihrem Gerät gespeichert oder abgerufen werden.
    </li>
    <li class="gray">
      ... Personalisierte Anzeigen und Inhalte, Anzeigen- und Inhaltsmessungen, Erkenntnisse über Zielgruppen und Produktentwicklungen ausspielen: Anzeigen und Inhalte können basierend auf einem Profil personalisiert werden. Es können mehr Daten hinzugefügt werden, um Anzeigen und Inhalte besser zu personalisieren. Die Performance von Anzeigen und Inhalten kann gemessen werden. Erkenntnisse über Zielgruppen, die die Anzeigen und Inhalte betrachtet haben, können abgeleitet werden. Daten können verwendet werden, um Benutzerfreundlichkeit, Systeme und Software aufzubauen oder zu verbessern.
    </li>
  </ul>
  <p class="gray">
    Sie willigen auch ein, dass Ihre Daten von Anbietern in Drittstaaten und den USA verarbeitet werden. USA-Anbieter müssen ihre Daten an dortige Behörden weitergegeben. Daher werden die USA als ein Land mit einem nach EU-Standards unzureichenden Datenschutzniveau eingeschätzt (Drittstaaten-Einwilligung).
  </p>

  <!-- FOOTER -->
  <div class="footer">
    <a href="https://www.spiegel.de/impressum">
      Impressum
    </a>&nbsp; &nbsp;
    <a href="https://www.spiegel.de/datenschutz-spiegel">
      Datenschutz
    </a>&nbsp; &nbsp;
    <a href="https://www.spiegel.de/nutzungsbedingungen">
      Nutzungsbedingungen
    </a>
  </div>


</div>
