<div class="header">
  <span class="publisher-logo"></span>
</div>
<div class="middle">
  <h1>Weiterführende Informationen zum Datenschutz</h1>
  <p>
    Auf der Grundlage Ihrer Einwilligung nutzen wir beispielsweise Cookie-IDs (Opt-In ID), um Sie auf unserem Online-Dienst zu identifizieren bzw. wiederzuerkennen und auf dieser Grundlage ggf. weitere Verarbeitungen durchzuführen.
  </p>
  <app-titled-drop-down title="Welche Daten werden verarbeitet?">
    <p>
      Ihre Einwilligung bezieht sich auf die Verarbeitung Ihrer Bestandsdaten, Ihrer Nutzungsdaten und Ihrer Opt-In-ID. Ihre Opt-In-ID ist eine eindeutige Kombination aus Ziffern und Buchstaben, die Ihnen zugewiesen wird, wenn Sie sich erstmals bei GMX anmelden.
    </p>
    <p>
      Bestandsdaten sind Informationen, die Sie uns bei der Registrierung oder zu einem späteren Zeitpunkt bei Aktivierung eines bestimmten Features mitgeteilt haben oder noch mitteilen werden, z.B. Ihr Geschlecht oder Ihre Adresse.
    </p><p>
    Unter Nutzungsdaten versteht man alle Informationen, die bei der Verwendung unserer Produkte entstehen. Mit diesen Informationen können wir unser Angebot stetig für Sie verbessern, indem wir Ihnen weniger, aber dafür passende Werbung ausspielen. Sofern diese Daten nicht zu Abrechnungszwecken erforderlich sind, werden sie entsprechend der gesetzlichen Regelung nach Ende der Nutzung wieder gelöscht.
  </p><p>
    Daten, die wir bisher von Ihnen erhoben haben, behalten wir nur wenn Sie uns Ihre Einwilligung zu den ausgewählten Zwecken erteilen.
  </p>
  </app-titled-drop-down>
  <app-titled-drop-down title="Wie werden Cookies und ähnliche technische Verfahren angewendet? ">
    <p>
      Alle Informationen, die im Zusammenhang mit Werbung auf unserem Online-Portal über den Nutzer gesammelt werden – und die damit verbundene Profilbildung – unterliegen höchsten Sicherheitsstandards. Dabei werden diese Informationen häufig in Cookies gespeichert. Cookies sind kleine Textdateien, die von Ihrem Browser gespeichert werden und sorgen dafür, dass sich eine Webseite an Sie "erinnert". Dadurch können Webseiten bei Ihrem nächsten Besuch schneller geladen oder Nutzungsdaten gespeichert werden.
    </p><p>
    Darüber hinaus verwenden wir auch die sogenannte "Local Storage-Technik" (auch "Lokale Daten" oder "Lokaler Speicher" genannt). Dabei werden Daten lokal im Cache Ihres Browsers gespeichert, die auch nach dem Schließen des Browser-Fensters oder nach dem Beenden des Programms weiterhin bestehen und ausgelesen werden können, solange Sie den Cache nicht löschen.
  </p>
  </app-titled-drop-down>
  <app-titled-drop-down title="Wer bekommt Ihre Daten? ">
    <p>
      Der Schutz Ihrer Daten hat für uns oberste Priorität. Der datenschutzkonforme Umgang mit Ihren personenbezogenen Daten wird durch das jeweils gültige Gesetz geregelt – innerhalb der EU zum Beispiel durch die EU-Datenschutz-Grundverordnung. Hierdurch wird sichergestellt, dass Ihre Rechte schon bei der Erhebung von personenbezogenen Daten stets geachtet werden.
    </p><p>
    Bei der Vergabe von Werbeplätzen auf unserem Internetportal arbeiten wir mit Unternehmen aus der ganzen Welt zusammen. Viele Firmen haben auch Standorte im Ausland. Daher kann es sein, dass Ihre Nutzungsdaten in diesen Fällen auch außerhalb Deutschlands zur Auswahl von Werbemitteln verwendet werden. Auch hier unterliegen Ihre Daten aber zu jeder Zeit den gültigen Gesetzen des Landes, in dem sie erhoben wurden.
  </p><p>
    Eine Liste unserer wichtigsten Partner und weiterführende Informationen finden Sie hier.
  </p>
  </app-titled-drop-down>
  <app-titled-drop-down title="Wie kann ich meine Einwilligung ändern oder widerrufen und welche Folgen hat ein Widerruf? ">
    <p>
      Sie haben jederzeit die volle Kontrolle über die von Ihnen erteilten Einwilligungen. Nach einem Widerruf werden wir Ihre Daten nicht weiter verarbeiten und löschen, soweit wir nicht aus anderen rechtlichen Gründen berechtigt oder verpflichtet sind, die Daten weiter zu verarbeiten (z.B. weil es eine gesetzliche Berechtigung oder Verpflichtung zur Verarbeitung Ihrer Daten gibt). Näheres zur Datenverarbeitung unserer Partner erfahren Sie in deren jeweiligen Datenschutzhinweisen.
    </p>
  </app-titled-drop-down>
  <app-titled-drop-down title="Informationen über Zusatzfunktionen ">
    <p>
      In bestimmten Fällen und unter der Voraussetzung, dass Sie die erforderlichen Einwilligungen erteilt haben, nehmen wir und unsere Partner im Rahmen unserer Tätigkeit folgende Funktionen wahr.
    </p>
    <strong>Mit Offline-Datenquellen zusammenführen</strong>
    <p>
      Daten aus Offline-Datenquellen können mit Daten aus Ihren Online-Aktivitäten zusammengeführt werden, um sie für einen oder mehrere Verarbeitungszwecke bzw. besondere Verarbeitungszwecke nutzen zu können.
      Daten aus Ihren Online-Aktivitäten können mit Offline-Daten zusammengeführt werden, um sie für einen oder mehrere Verarbeitungszwecke oder besondere Verarbeitungszwecke ergänzend zu nutzen.
    </p>
    <strong>Verschiedene Geräte verknüpfen</strong>
    <p>
      Zur Nutzung für einen oder mehrere Verarbeitungszwecke kann ermittelt werden, ob unterschiedliche Geräte zu Ihnen oder Ihrem Haushalt gehören.
    </p>
    <strong>Empfangen und Verwenden automatisch gesendeter Geräteeigenschaften für die Identifikation</strong>
    <p>
      Ihr Gerät kann aufgrund von Informationen, die es automatisch sendet wie z.B. IP-Adresse oder Browsertyp von anderen Geräten unterschieden werden.

    </p>
  </app-titled-drop-down>

</div>

<!-- FOOTER -->
<div class="footer">
  <ion-toolbar>
    <button class="adjust" (click)="goBack()"> <ion-icon slot="start" name="chevron-back-outline"></ion-icon>zurück</button>
  </ion-toolbar>
  <!--Impressum -->
  <div class="center">
    <a href="https://agb-server.gmx.net/datenschutz" target="_blank" class="footer-link">
      Datenschutzhinweise
    </a>
    <a href="https://www.gmx.net/impressum/" target="_blank" class="footer-link">
      Impressum
    </a>
  </div>
</div>

